<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Song!</title>
</head>
<body>
    <h1>Guess the Song!</h1>
    <audio controls>
        <source src="{{ url_for('static', filename=song.file) }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <div>
        <p>Score: {{ score }}</p>
         <form method="POST">
            <input type="text" name="song_guess" placeholder="Guess the song" required>
            {% if session.get('guess_artist', False) %}
            <input type="text" name="artist_guess" placeholder="Guess the artist">
            {% endif %}
            <button type="submit">Submit Guess</button>
        </form>
    </div>
</body>
</html>
